extends layout

section#main
form( id='signin')
  h2 Přihlašte se prosím
    input(id='signin', placeholder="weap", name='username', type='text', required='', autofocus=')
    input(id='signin', placeholder="weap", name='password', type='text', required='')

    input(id='signin', type='button', value='Login')
